  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-12 columns" role="contentinfo" style="align-content: center;">

      @*<article>*@

        <br /><br />
@*        <div class="row">*@

          <div class="large-12 columns">
              <p>Bri Euton is a personal stylist for J. Hilburn, the company revolutionizing the way men shop by providing custom made clothing at off the rack pricing.</p>  
              <p></p> 
              <p>Based in Denver-Boulder Colorado, Bri has years of experience working closely with men to develop their personal style and enable them to feel great in their clothes.  Her clients range from college students preparing for the work place to C-level executives.</p>
             <p></p> 
             <p>Bri is building team of entrepreneuers who are rapidly changing the menswear industry.  In this capacity she provides business coaching and leadership training for those who are also serious about joining the menswear revolution.</p>

              <p></p>
          </div>
         @*<div class="large-6 columns">
            <img src="~/Images/About/bri-euton.jpg" />
          </div>*@
       @* </div>*@

@*        <p>While pursuing a career as a physical therapist Bri had the realization that the way a man .........</p>*@

     @* </article>*@

    </div>

    <!-- End Main Content -->

  </div>

  <!-- End Main Content and Sidebar -->
