  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-12 columns" role="contentinfo" style="align-content: center;">

      @*<article>*@

        <br /><br />
@*        <div class="row">*@
          <h3>Simple And 100% Satisfaction Guaranteed.</h3>

          <h6>1 - Contact Me</h6>
          <div class="large-12 columns">
            <p>Contact me on social media, through the J. Hilburn website, or by filling out the @Html.ActionLink("Contact Bri", "Index", "Contact") form on this website. 
            </p>
          </div>
          <h6>2 - Fitting.</h6>
          <div class="large-12 columns">
            <p>At your first appointment I will take your measurements.  Using fabric samples, lookbook photos, and my extensive experience we will begin to build your wardrobe.  
                Some men prefer to order a single shirt or pair of trousers at their first appointment while others may order 10 shirts and a handful of trousers or a suit.  How you choose 
                to build your wardrobe and what timeframe you choose to do it in is entirely up to you.
          </div>
          <h6>3 - %100 Satisfaction.</h6>
          <div class="large-12 columns">
            <p>When your first order arrives I will hand deliver it to you.  I do this in order to ensure that you are completely satisfied with the product.  
                If the product needs alterations, or if you simply wish to return the product you have 90 days to do so.  Alterations cost you nothing.  Returns cost you nothing.</p>
          </div>

         @*<div class="large-6 columns">
            <img src="~/Images/About/bri-euton.jpg" />
          </div>*@
       @* </div>*@

@*        <p>While pursuing a career as a physical therapist Bri had the realization that the way a man .........</p>*@

     @* </article>*@

    </div>

    <!-- End Main Content -->

  </div>

  <!-- End Main Content and Sidebar -->
