<br /><br />
<div class="row">
        <div class="large-12 columns">
            <p>Schedule a fitting, ask a question or two, or see if you have what it takes to be a part of the company that is changing the face of retail fashion.</p>
        </div>
</div>
<div class="row">
    <div class="large-3 columns">
        <label>Name:</label>
        <input id="Name" type="text" />
    </div>
</div>
<div class="row">
    <div class="large-3 columns">
        <label>Phone Number:</label>
        <input id="phone" type="text" />
    </div>
</div>
<div class="row">
    <div class="large-3 columns">
        <label>Email:</label>
        <input id="email" type="text" />
    </div>
</div>
