  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">

      <article>

        <h3></h3>

        <div class="row">
            <p></p>
        </div>
        
        <div class="row">
            <div class="large-12 columns">
                <p>One of my favorite things about working with a new client is the moment they try their shirt, pants, or suit on for the first time.
                    For most, it is a moment where they realize just how much better custom fit clothing looks and feels.  For those that have worn custom or tailored clothing for some time, it is a moment where they realize what an incredible value J. Hilburn is.
                </p>
                <p>
                    Whether you have never worn custom or tailored clothing, or have worn it for years, the value, quality, and fit of J. Hilburn is something that is un-matched in the industry today.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <iframe width="760" height="405" src="//www.youtube.com/embed/3F2Zz3nxzZU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
          <br />
        <div class="row">
            <div class="large-12 columns">
            </div>
        </div>
        <p></p>

        <p></p>

      </article>

    </div>

    <!-- End Main Content -->

  </div>

  <!-- End Main Content and Sidebar -->
