<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns" style="margin-top: 1em">
        <ul data-orbit="" >
            <li>
                <img src="~/Images/Home/frontpage1_large.jpg" style="width: 1000px; height: 400px"/>
            </li>
            <li>
                <img src="~/Images/Home/frontpage2_large.jpg" style="height: 400px; width: 1000px;"/>
            </li>
            <li>
                <img src="~/Images/Home/frontpage4_large.jpg" style="height: 400px; width: 1000px;"/>
            </li>
            <li>
                <img src="~/Images/Home/frontpage6_large.jpg" style="height: 400px; width: 1000px;"/>
            </li>
        </ul>
    <hr />
    </div>
  </div>
  
<!-- Three-up Content Blocks -->

	<div class="row">

    <div class="large-4 columns">
      <!--<div id="fit" style="background-image: url('/Images/home/home_model_sprite.png'); background-position-x: 0px; background-position-y: 0px; height: 225px; width: 245px; display: block;"></div>-->
      <h4>Fit</h4>
      <p>Fit is king.  Your measurements are taken and used to create custom shirts, made to measure trousers, and personalized suits.  Simply put, your clothes will fit, you will look great, and you will feel great.</p>
    </div>
	  <div class="large-4 columns">
      <!--<div id="quality" style="background-image: url('/Images/home/home_model_sprite.png'); background-position-x: 0px; background-position-y: -295px; height: 225px; width: 245px; display: block;"></div>-->
      <h4>Quality</h4>
      <p>Tessitura Monti, Thomas Mason, and Guabello are just a few of the italian mills we source our fabric from.  Each custom shirt, trouser, and suit is hand crafted with the highest standards and made specifically for you.</p>
    </div>
    
    <div class="large-4 columns">
      <!--<div id="value" style="background-image: url('/Images/home/home_model_sprite.png'); background-position-x: 0px; background-position-y: -590px; height: 225px; width: 245px; display: block;"></div>-->
      <h4>Value</h4>
      <p>Instead of having you come to a traditional brick and mortar shop, I come to you.  During the initial consultation I take your measurements, evaluate your current wardrobe, and assist in picking the fabrics that will be used to create your custom made wardrobe.  The end result is that we are able to offer custom fit and superior quality fabrics at an off the rack price.</p>
    </div>
    </div>
   