<!-- First Band (Slider) -->

  <div class="row">
    <div class="large-12 columns" style="margin-top: 1em">
        <ul data-orbit="" >
            <li>
                <img style="width: 300px" src="http://placehold.it/400x300&text=[img]" />
                <div class="orbit-caption">Caption 1</div>
            </li>
            <li>
                <img style="width: 300px"  src="http://placehold.it/400x300&text=[img]" />
                <div class="orbit-caption">Caption 2</div>
            </li>
            <li>
                <img style="width: 300px" src="http://placehold.it/400x300&text=[img]" />
                <div class="orbit-caption">Caption 3</div>
            </li>
        </ul>
    
    <hr />
    </div>
  </div>
  
<!-- Three-up Content Blocks -->

	<div class="row">

    <div class="large-4 columns">
      <div id="customfit" style="background-image: url('/Images/home/jh-why-photo-sprite-wide.png'); background-position-x: 0px; background-position-y: 0px; height: 155px; display: block;"></div>
      <h4>Fit</h4>
      <p>Fit is king.  Your personal stylist will tak eyour measurements and use them to build custom shirts, made to measure trousers, and personalized suits.  These measurements will also guide the selection of ready to wear items.  Simply put, your clothes will fit and you will look and feel great.</p>
    </div>

	  <div class="large-4 columns">
      <div id="italianfabrics" style="background-image: url('/Images/home/jh-why-photo-sprite-wide.png'); background-position-x: 0px; background-position-y: -155.25px; height: 155px;"></div>
      <h4>Quality</h4>
      <p>Our fabrics are from the finest mills (Tessitura Monti, Thomas Mason, and Guabello), most often Italian.  Each shirt, trouser, and suit is hand crafted with the highest standards and made specifically for you.</p>
    </div>
    
    <div class="large-4 columns">
      <div id="exceptionalvalue" style="background-image: url('/Images/home/jh-why-photo-sprite-wide.png'); background-position-x: 0px; background-position-y: -465.75px; height: 155px; display: block;"></div>
      <h4>Value</h4>
      <p>The current retail model is broken.  At J. Hilburn we cut out the middleman, the traditional brick and mortal shop, so that we can build more value into our products.  The end result is that we can offer custom fit and superior quality fabrics at an off the rack price.</p>
    </div>
	
    </div>
    
<!-- Call to Action Panel -->
<!-- put links to twitter, facebook, linkedin, etc here -->
<!-- put links to Inc, Esquire, Mens Health, etc here -->
@*<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>*@